# Operating System Files
/.DS_Store
/Thumbs.db

# Build Artifacts
/build/
/dist/
*.o
*.so
*.a

# Log Files
*.log

# IDE Specific Files
/.idea/
/.vscode/

# Node.js and npm
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flex and Bison
*.output
*.tab.c
*.tab.h

# React and Webpack
/public/
/.cache/
